<div id="wrapper">
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content" class="min-vh-100">
			<app-topbar></app-topbar>
			<div class="container-fluid">
				<div class="row mb-5 grow-1">
					<div id="me" class="col-lg-4 col-md-6 mt-5 mt-md-0">
						<div class="rounded-0 shadow card">
							<div class="rounded-0 card-header p-0 bg-white border-0">
								<div class="bg-purple position-relative pt-4 profile-img d-flex justify-content-center">
									<img alt="image" src="assets/images/f1.jpg" class="border border-thick rounded-circle profile-img-lg">
								</div>
							</div>
							<div class="card-body bg-purple text-center">
								<h3 class="text-white">Sarah Parker</h3>
								<p class="w-50 h6 mx-auto text-white">I'm just a normal person, I like cats & cake. I also went skydiving once.</p>
								<div class="my-4">
									<button class="btn btn-light text-primary rounded-pill m-1">Add Friend</button>
									<button class="btn btn-info rounded-pill m-1">Send Message</button>
								</div>
								<hr class="w-25 my-4 bg-white">
								<div class="h4 text-white">
									Friends: <span>132</span>
								</div>
							</div>
						</div>
						<div id="friends-list" class="card shadow rounded-0 mt-4 pb-3">
							<div class="row m-0">
								<div class="col-xl-4 col-6 mt-5">
									<div class="friend">
										<img alt="image" src="assets/images/f1.jpg">
										<h5 class="text-center pb-1">
											<a href="#" class="link text-purple font-weight-400">Sarah Parker</a>
										</h5>
									</div>
								</div>
								<div class="col-xl-4 col-6 mt-5">
									<div class="friend">
										<img alt="image" src="assets/images/f1.jpg">
										<h5 class="text-center pb-1">
											<a href="#" class="link text-purple font-weight-400">Sarah Parker</a>
										</h5>
									</div>
								</div>
								<div class="col-xl-4 col-6 mt-5">
									<div class="friend">
										<img alt="image" src="assets/images/f1.jpg">
										<h5 class="text-center pb-1">
											<a href="#" class="link text-purple font-weight-400">Sarah Parker</a>
										</h5>
									</div>
								</div>
								<div class="col-xl-4 col-6 mt-5">
									<div class="friend">
										<img alt="image" src="assets/images/f1.jpg">
										<h5 class="text-center pb-1">
											<a href="#" class="link text-purple font-weight-400">Sarah Parker</a>
										</h5>
									</div>
								</div>
								<div class="col-xl-4 col-6 mt-5">
									<div class="friend">
										<img alt="image" src="assets/images/f1.jpg">
										<h5 class="text-center pb-1">
											<a href="#" class="link text-purple font-weight-400">Sarah Parker</a>
										</h5>
									</div>
								</div>
								<div class="col-xl-4 col-6 mt-5">
									<div class="friend">
										<img alt="image" src="assets/images/f1.jpg">
										<h5 class="text-center pb-1">
											<a href="#" class="link text-purple font-weight-400">Sarah Parker</a>
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="recent-posts" class="col-lg-5 col-md-6 mt-5 mt-md-0">
						<h3 class="text-success shadow py-3 text-center bg-white rounded-pill">Recent Posts</h3>
						<div class="card mt-4 shadow">

							<div class="card-header rounded-0">
								<a href="#"><img alt="image" class="profile-img-sm rounded-circle" src="assets/images/f1.jpg"></a>
								<span class="ml-3 h5"><a class="text-purple font-weight-700 link" href="#">Sarah Parker</a></span>
							</div>

							<div class="card-body">
								<p class="card-text post-body h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="d-flex justify-content-between py-2">
									<small class="text-muted">1 hour ago</small>
									<div>
										<a class="like-icon"><i class="text-purple hov-scale fas fa-thumbs-up"></i></a>
										<span class="ml-3 badge badge-purple badge-pill">11</span>
									</div>
								</div>
							</div>
							<div>
								<a href="#grgr" class="d-block card-header py-3" data-toggle="collapse" role="button">
									<h6 class="m-0 text-purple font-weight-bold">Comments</h6>
								</a>
								<div class="collapse" id="grgr">
									<div class="card-body">
										<form class="mb-2" action="" method="post">
											<div class="form-group">
												<input type="text" name="comment" class="rounded-pill form-control" placeholder="Leave a comment.">
											</div>
										</form>

										<div class="comment-list">
											<div>
												<div class="text-center mt-2">Be the first to comment on this post!</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card mt-4 shadow">

							<div class="card-header rounded-0">
								<a href="#"><img alt="image" class="profile-img-sm rounded-circle" src="assets/images/f1.jpg"></a>
								<span class="ml-3 h5"><a class="text-purple font-weight-700 link" href="#">Sarah Parker</a></span>
							</div>

							<div class="card-body">
								<p class="card-text post-body h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="d-flex justify-content-between py-2">
									<small class="text-muted">1 hour ago</small>
									<div>
										<a class="like-icon"><i class="text-purple hov-scale fas fa-thumbs-up"></i></a>
										<span class="ml-3 badge badge-purple badge-pill">11</span>
									</div>
								</div>
							</div>
							<div>
								<a href="#grgr" class="d-block card-header py-3" data-toggle="collapse" role="button">
									<h6 class="m-0 text-purple font-weight-bold">Comments</h6>
								</a>
								<div class="collapse" id="grgr">
									<div class="card-body">
										<form class="mb-2" action="" method="post">
											<div class="form-group">
												<input type="text" name="comment" class="rounded-pill form-control" placeholder="Leave a comment.">
											</div>
										</form>

										<div class="comment-list">
											<div>
												<div class="text-center mt-2">Be the first to comment on this post!</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card mt-4 shadow">

							<div class="card-header rounded-0">
								<a href="#"><img alt="image" class="profile-img-sm rounded-circle" src="assets/images/f1.jpg"></a>
								<span class="ml-3 h5"><a class="text-purple font-weight-700 link" href="#">Sarah Parker</a></span>
							</div>

							<div class="card-body">
								<p class="card-text post-body h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="d-flex justify-content-between py-2">
									<small class="text-muted">1 hour ago</small>
									<div>
										<a class="like-icon"><i class="text-purple hov-scale fas fa-thumbs-up"></i></a>
										<span class="ml-3 badge badge-purple badge-pill">11</span>
									</div>
								</div>
							</div>
							<div>
								<a href="#grgr" class="d-block card-header py-3" data-toggle="collapse" role="button">
									<h6 class="m-0 text-purple font-weight-bold">Comments</h6>
								</a>
								<div class="collapse" id="grgr">
									<div class="card-body">
										<form class="mb-2" action="" method="post">
											<div class="form-group">
												<input type="text" name="comment" class="rounded-pill form-control" placeholder="Leave a comment.">
											</div>
										</form>

										<div class="comment-list">
											<div>
												<div class="text-center mt-2">Be the first to comment on this post!</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card mt-4 shadow">
							<div class="card-header rounded-0">
								<a href="#"><img alt="image" class="profile-img-sm rounded-circle" src="assets/images/f1.jpg"></a>
								<span class="ml-3 h5"><a class="text-purple font-weight-700 link" href="#">Sarah Parker</a></span>
							</div>

							<div class="card-body">
								<p class="card-text post-body h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="d-flex justify-content-between py-2">
									<small class="text-muted">1 hour ago</small>
									<div>
										<a class="like-icon"><i class="text-purple hov-scale fas fa-thumbs-up"></i></a>
										<span class="ml-3 badge badge-purple badge-pill">11</span>
									</div>
								</div>
							</div>
							<div>
								<a href="#grgr" class="d-block card-header py-3" data-toggle="collapse" role="button">
									<h6 class="m-0 text-purple font-weight-bold">Comments</h6>
								</a>
								<div class="collapse" id="grgr">
									<div class="card-body">
										<form class="mb-2" action="" method="post">
											<div class="form-group">
												<input type="text" name="comment" class="rounded-pill form-control" placeholder="Leave a comment.">
											</div>
										</form>
										<div class="comment-list">
											<div>
												<div class="text-center mt-2">Be the first to comment on this post!</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<a class="bg-success d-block mt-4 py-3 text-center rounded-pill text-white link h5" href="#">Load More</a>
					</div>
					<div id="big-links" class="col-lg-3 col--12 mt-5 mt-lg-0">
						<div class="shadow card border-0 rounded-0 big-link bg-success text-white">
							<a routerLink="/feed" class="text-white link font-weight-500 text-center display-3">
								Feed
								<br>
								<i class="fas fa-list fa-sm fa-fw mr-2"></i>
							</a>
						</div>
						<div class="mt-3 shadow card border-0 rounded-0 big-link bg-primary text-white">
							<a routerLink="/messages" class="text-white link font-weight-500 text-center display-3">
								Messages
								<br>
								<i class="fas fa-envelope fa-fw"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
