<div id="wrapper">
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content" class="min-vh-100">
			<app-topbar></app-topbar>
			<div class="container-fluid">
				<div class="row mb-5 grow-1">
					<div id="me" class="col-lg-4 col-md-6 mt-5 mt-md-0">
						<div class="rounded-0 shadow card">
							<div class="rounded-0 card-header p-0 bg-white border-0">
								<div class="bg-purple position-relative pt-4 profile-img d-flex justify-content-center">
									<img alt="image" src="assets/images/{{profileImage}}.jpg" class="border border-thick rounded-circle profile-img-lg">
								</div>
							</div>
							<div class="card-body bg-purple text-center">
								<h3 class="text-white">{{ userName }}</h3>
								<p class="w-50 h6 mx-auto text-white">I'm just a normal person, I like cats & {{ userEmail }}. I also went skydiving once.</p>
								<div class="my-4">
									<button *ngIf="canAddUser " class="btn btn-light text-primary rounded-pill m-1">Add Friend</button>
									<button *ngIf="canSendMessage " class="btn btn-info rounded-pill m-1">Send Message</button>
								</div>
								<hr class="w-25 my-4 bg-white">
								<div class="h4 text-white">
									Friends: <span>{{ totalFriends }}</span>
								</div>
							</div>
						</div>
						<div *ngIf="randomFriends.length" id="friends-list" class="card shadow rounded-0 mt-4 pb-3">
							<div class="row m-0">
								<div *ngFor="let friend of randomFriends" class="col-xl-4 col-6 mt-5">
									<div class="friend">
										<img alt="image" src="assets/images/{{friend.profileImage}}.jpg" routerLink="/profile/{{friend._id}}">
										<h5 class="text-center pb-1">
											<a href="" class="link text-purple font-weight-400" routerLink="/profile/{{friend._id}}">{{ friend.name}}</a>
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="recent-posts" class="col-lg-5 col-md-6 mt-5 mt-md-0">
						<h3 class="text-success shadow py-3 text-center bg-white rounded-pill">Recent Posts</h3>
						<app-post *ngFor="let post of posts.slice(0,showPosts)" [post]="post"></app-post>
						<a (click)="showMorePosts();" *ngIf="posts.length && showPosts < posts.length " class="bg-success d-block mt-4 py-3 text-center rounded-pill text-white link h5">Load More</a>
						<div *ngIf="posts.length && posts.length <= showPosts">
							<h2 class="mt-5 text-primary text-center">No more posts, you have stalked {{ userName }} completely</h2>
							<a href="" (click)="backToTop();" class="link h4 text-center d-block w-max mx-auto my-3"></a>
						</div>
					</div>
					<div id="big-links" class="col-lg-3 col--12 mt-5 mt-lg-0">
						<div class="shadow card border-0 rounded-0 big-link bg-success text-white">
							<a routerLink="/feed" class="text-white link font-weight-500 text-center display-3">
								Feed
								<br>
								<i class="fas fa-list fa-sm fa-fw mr-2"></i>
							</a>
						</div>
						<div class="mt-3 shadow card border-0 rounded-0 big-link bg-primary text-white">
							<a routerLink="/messages" class="text-white link font-weight-500 text-center display-3">
								Messages
								<br>
								<i class="fas fa-envelope fa-fw"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
