<div id="wrapper">
	<ul class="navbar-nav bg-gradient-primary sidebar auto-toggle sidebar-dark accordion" id="accordionSidebar"><app-sidebar></app-sidebar></ul>
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content">
			<app-topbar></app-topbar>
			<div class="container-fluid p-0 p-sm-4">
				<h1 class="h3 mb-4 text-gray-800 text-center text-md-left">Your Messages</h1>
				<h2 *ngIf="!messages.length" class="h4 ml-3 font-weight-300">You Currently have no messages!</h2>
				<div class="row mb-5">
					<div class="col-xl-4 col-lg-5">
						<div class="message-list mb-5 custom-scroll pr-3">
							<div *ngFor="let message of messages" (click)="setActiveMessage(message.fromID)" class="message p-3 pr-5 my-4 bg-white">
								<div class="messenger">
									<div class="d-flex justify-content-between align-items-center">
										<div class="">
											<a><img alt="image" src="assets/images/{{message.messengerProfileImage}}.jpg" class="rounded-circle profile-img-md"></a>
											<span class="ml-3"><a class="link text-primary">{{ message.messengerName }}</a></span>
										</div>
										<i class="link mb-2 fas fa-trash-alt" (click)="deleteMessage(message._id)"></i>
									</div>
									<p class="mt-2 text-truncate">{{ message.content[message.content.length-1].message }}...</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-7 col-lg-7">
						<div *ngIf="messages.length" class="message-window shadow bg-white d-flex flex-column justify-content-between">
							<div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="message-content p-3 grow-1 custom-scroll">
								<div *ngFor="let mGroup of activeMessage.messageGroups" class="messenger mb-5">
									<div class="mb-2" [ngClass]="{'ml-auto w-max': mGroup.isMe}">
										<span *ngIf="mGroup.isMe" class="mr-3"><a routerLink="/profile/{{mGroup.id}}" class="link">{{ mGroup.name }}</a></span>
										<a routerLink="/profile/{{mGroup.id}}"><img alt="image" src="assets/images/{{mGroup.image}}.jpg" class="rounded-circle profile-img-sm"></a>
										<span *ngIf="!mGroup.isMe" class="ml-3"><a routerLink="/profile/{{mGroup.id}}" class="link">{{mGroup.name}}</a></span>
									</div>
									<div *ngFor="let message of mGroup.messages" class="mb-2" [ngClass]="( mGroup.isMe? 'w-max ml-auto mr-5': ' w-75 ml-5')"><p class="d-inline text-white px-4 p-2 rounded-pill message-style" [ngClass]="(mGroup.isMe ? 'w-max ml-auto bg-success': 'bg-primary')">{{ message }}</p></div>
								</div>
							</div>
							<div>
								<form (submit)="sendMessage()">
									<textarea class="w-100 border-top p-3 custom-scroll" placeholder="Your message..." name="name" rows="4" required [(ngModel)]="newMessage"></textarea>
									<input type="submit" class="w-100 p-2 border-0 btn-primary" value="Send Message" >
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
