<div class="card mt-4">
    <div [ngClass]="'bg-'+ post.theme" class="card-header rounded-0">
        <a href="#"><img class="profile-img-sm rounded-circle" src="assets/images/f1.jpg"></a>
        <span class="ml-3 h5"><a class="link font-weight-700 text-white" href="#">{{ post.name }}</a></span>
    </div>
    <div class="card-body">
        <p [ngStyle] = "{'font-size':fontSize + 'px' , 'text-align':align}"  class="card-text post-body h5">{{post.content}}</p>
        <div class="d-flex justify-content-between py-2">
            <small class="text-muted">{{ post.ago }}</small>
            <div>
                <a class="like-icon" (click)="likeButtonClicked(post._id)"><i [ngClass]="{'liked':liked==true}" class="text-{{post.theme}} hov-scale fas fa-thumbs-up"></i></a>
                <span [ngClass]="'bg-'+ post.theme" class="ml-3 badge badge-pill text-white">{{post.likes.length}}</span>
            </div>
        </div>
    </div>
    <div>
        <a href="{{ '#'+ fakeId }}" class="d-block card-header py-3" data-toggle="collapse" role="button">
            <h6 class="m-0 font-weight-bold" [ngClass]="'text-'+ post.theme">Comments</h6>
        </a>
        <div class="collapse" id="{{ fakeId }}">
            <div class="card-body">
                <form class="mb-2" action="" method="post">
                    <div class="form-group">
                        <input type="text" class="rounded-pill form-control" placeholder="Leave a comment.">
                    </div>
                </form>

                <div class="comment-list">
                    <div *ngIf="post && !post.comments.length" class="text-center mt-2">Be The First to Comments on this post.</div>
                    <!-- <div class="comment p-3 my-2 rounded">
                        <div class="comment-user">
                            <a href="#"><img src="assets/images/f1.jpg" class="rounded-circle profile-img-sm"></a>
                            <span class="ml-2"><a href="#" class="link">Sarah Parker</a></span>
                        </div>
                        <div class="comment-body pl-3 mt-2">
                            Sales lean startup agile development vesting period advisor business-to-business. Focus stealth partner network crowdfunding
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
