.card-text{
    line-height: 170%,normal;
    color: #585858;
}

.card{
    transition: transform 0.4s;
}
.card:hover{
    transform: scale(1.05);
}

.like-icon{
    cursor:pointer;
}
.liked{
    transform: scale(1.8) translateX(-3px);
}

.comment-body{
    color: #585858;
}

.comment { background-color: #F5F5F5 !important; }
