/node_modules/
.idea/
/Bootstrap/

Angular/dist
Angular/tmp
Angular/out-tsc
Angular/bazel-out

Angular/node_modules

Angular/chrome-profiler-events*.json

Angular/.idea
Angular/.project
Angular/.classpath
Angular/.c9/
Angular/*.launch
Angular/.settings/
Angular/*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

Angular/.sass-cache
Angular/connect.lock
Angular/coverage
Angular/libpeerconnection.log
Angular/npm-debug.log
Angular/yarn-error.log
Angular/testem.log
Angular/typings

Angular/.DS_Store
Angular/Thumbs.db
