<a class="sidebar-brand d-flex align-items-center justify-content-center" href="" routerLink="/"><div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div><div class="sidebar-brand-text mx-3">A Social Media</div></a>
<hr class="sidebar-divider my-0">
<li class="nav-item active"><a class="nav-link" href="" routerLink="/profile/{{ this.userID }}"><i class="far fa-address-card"></i><span>Profile</span></a></li>
<hr class="sidebar-divider">
<div class="sidebar-heading">Friendships</div>
<li class="nav-item">
	<a class="nav-link collapsed w-100 pr-md-5" href="#" data-toggle="collapse" data-target="#besties"><i class="fas fa-user-friends"></i><span>Besties</span></a>
	<div id="besties" class="collapse" data-parent="#accordionSidebar">
		<div *ngIf="!besties.length" class="ml-3 text-white">You have no besties :(</div>
		<div *ngIf="besties.length" class="bg-white py-2 collapse-inner rounded w-100">
			<div *ngFor="let bestie of besties" class="m-3">
				<img routerLink="/profile/{{bestie._id}}" alt="image" class="link img-fluid rounded-circle profile-img-sm" src="assets/images/{{bestie.profileImage}}.jpg">
				<span class="h6 ml-3"><a class="link small" routerLink="/profile/{{bestie._id}}">{{bestie.name}}</a></span>
			</div>
		</div>
	</div>
</li>
<li class="nav-item">
	<a class="nav-link collapsed w-100 pr-md-5" href="#" data-toggle="collapse" data-target="#enemies" aria-expanded="true" aria-controls="collapseEnemies"><i class="fas fa-skull-crossbones"></i><span>Enemies</span></a>
	<div id="enemies" class="collapse" data-parent="#accordionSidebar">
		<div *ngIf="!enemies.length" class="ml-3 text-white">You have no enemies :)</div>
		<div *ngIf="enemies.length" class="bg-white py-2 collapse-inner rounded w-100">
			<div *ngFor="let enemy of enemies" class="m-3">
				<img routerLink="/profile/{{enemy._id}}" alt="image" class="link img-fluid rounded-circle profile-img-sm" src="assets/images/{{enemy.profileImage}}.jpg">
				<span class="h6 ml-3"><a class="link small text-danger" routerLink="/profile/{{enemy._id}}">{{enemy.name}}</a></span>
			</div>
		</div>
	</div>
</li>
<hr class="sidebar-divider">
<li class="nav-item">
	<a class="nav-link collapsed w-100 pr-md-5" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages"><i class="fas fa-fw fa-folder"></i><span>Quick Actions</span></a>
	<div id="collapsePages" class="quick collapse" data-parent="#accordionSidebar">
		<div class="bg-white py-2 collapse-inner rounded">
			<h6 class="collapse-header"></h6>
			<a class="collapse-item" href="" routerLink="/profile/{{ this.userID }}">Profile</a>
			<a class="collapse-item" href="" routerLink="/feed">Feed</a>
			<a class="collapse-item" href="" routerLink="/message">Messages</a>
			<a (click)="this.auth.logOut();" class="collapse-item mt-3" data-toggle="modal" data-target="#logoutModal" href="">Sign Out</a>
		</div>
	</div>
</li>
